body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

img {
  pointer-events: none;
}

.playSaveAnim {
  animation-name: saveAnim;
  animation-iteration-count: 1;
  animation-duration: .5s;
}

.playErrorAnim {
  animation-name: saveError;
  animation-iteration-count: 1;
  animation-duration: .25s;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: black;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
  font-family:'Open Sans','Courier New', Courier, monospace;
  font-size: 20px;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 90px;
  border-top: 1px solid white;
  margin-left: 1px;
  margin-right: 1px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  display: flex;
  align-items: center;
}

.past {
  background-color: #7c7c7c;
  color: white;
}

.present {
  background-color: #df4b43;
  color: white;
}

.future {
  background-color: #2ca92c;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

@keyframes saveAnim {
  0%   {transform: scale(1);}
  50%  {transform: scale(.25);}
  75%  {transform: scale(1.1);}
  100% {transform: scale(1);}
}

@keyframes saveError {
  0%{transform: translateX(5px);}
  25%{transform: translateX(-5px);}
  50%{transform: translateX(5px);}
  75%{transform: translateX(-5px);}
  100%{transform: translateX(5px);}
}
